<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      
    </div>
    
  </main>
  <body style="background-color:rgb(170, 154, 131)">
    <h4 style="text-align:center">Avnish Kush Loolchand</h4>
    <p style="text-align:center">Below is a picture of me and my cousin</p>
    <div style="text-align:center">
        <img src="Assets/images/plant.jpg" alt="mypicture"><br /><br />
        <p>I am a young boy who enjoys being in the nature because it is where I enjoy life the most.But also I am a student at centennial.</p>
        <a href="Assets/images/Avnish_Kush_Resume.pdf">My Resume.</a>
    </div>
</body>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  

