<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      
    </div>
    
  </main>
  <body style="background-color:rgb(170, 154, 131)">
    <h4 style="text-align:center">Welcome to my Projects page!</h4>
    
        <ul>
            <li>Aquascape Project</li>
            <p> I bought java moss, some intervertabrates, live plants and a betta fish to make the ecosystem for my aquarium </p>
            <li>Rc airplane</li>
            <p>I built a custom glider to fit my electronics while respecting the physics that is to have things like my cg in the correct place and tested my control surfaces before the maiden flight which was pasrtially successful.</p>
            <li>My Portfolio Website</li>
            <p>Not much success</p>

        </ul>
    
</body>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




